<% if (messages.info) { %>
<div class="alert alert-info"><%=messages.info%></div>
<% } %>
<% if (messages.success) { %>
<div class="alert alert-success"><%=messages.success%></div>
<% } %>
<% if (messages.warning) { %>
<div class="alert alert-warning"><%=messages.warning%></div>
<% } %>
<% if (messages.danger) { %>
<div class="alert alert-danger"><%=messages.danger%></div>
<% } %>