<html>
<head>
<title><%= title %></title>
<script type="text/javascript" src="/js/lib/jquery-1.11.0.min.js"></script>
<link rel="stylesheet" type="text/css" href="/stylesheets/admin.css" />
</head>
<body>
	<br><br>
	<div style="text-align: center;">
		<span style="font-size:40px;"><%= title %></span>
	</div>
	<form method="POST" action="/admin/question/create" enctype="application/x-www-form-urlencoded">
	<table cellspacing="0">
		<tr>
			<th>Field Name</th>
			<th>Field Value</th>
		</tr>
		<tr>
			<td class="_fieldName">제목</td>
			<td class="_fieldValue">
				<input type="text" name="title" size="50" required/>
			</td>
		</tr>
		<tr>
			<td class="_fieldName">이미지 주소</td>
			<td class="_fieldValue">
				<input type="text" name="image" size="50" required/>
			</td>
		</tr>
		<tr>
			<td class="_fieldName">출제 시간 ~ 마감 시간</td>
			<td class="_fieldValue">
				<select name="startTime" class="_hours" required></select> ~ <select name="endTime" class="_hours" required></select>
			</td>
		</tr>
	</table>
		<br>
		<center>
		<input type="submit" name="submit" class="_btn" value="Submit"/>
		<input type="reset" name="reset" class="_btn" value="Reset"/>
		<input type="button" class="_btn" value="List" onclick="location.href='/admin/question/list'"/>
		</center>
	</form>
	<br><br><br><br>
</body>
<script type="text/javascript" src="/js/admin/question/add.js"></script>
</html>
