<div id="gnb">
<ul class="account">
<% if (!user) { %>
	<li><a href="/account/signin">로그인</a></li>
	<li class="pipe"><a href="/account/signup">회원가입</a></li>
<% } else { %>
	<li><a href="/account/profile"><%= user.username %></a></li>
	<li class="pipe"><a href="/account/logout">로그아웃</a></li>
<% } %>
</ul>
</div>