<!DOCTYPE html>
<html>
	<head>
	<meta property="og:title" content="Jeffrey Youngil Cho : Blog">
    <meta property="og:type" content="blog">
    <meta property="og:url" content="http://www.choyoungil.pe.kr">
    <meta property="og:image" content="http://a1.twimg.com/profile_images/1202154459/n100000831305765_6084.jpg">
	<title><% if (title) { %><%= title %> | <% } %><%= appname %></title>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
</head>
<body>
<div class="facebook_share">
	<a href="https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2F58.229.6.204%3A3000%2F" target="_blank">
     Share on Facebook
    </a>
<%- partial('gnb') %>
<div id="wrap">

<%- body %>

</div><!-- //#wrap -->

</body>
</html>