<!DOCTYPE html>
<html>
	<head>
	<title><% if (this.title) { %><%= title %> | <% } %>제목학원</title>
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/reset.css" />
	<link rel="stylesheet" type="text/css" media="all" href="/stylesheets/style.css" />
</head>
<body>

<%- partial('gnb') %>
<div id="wrap">

<%- body %>

</div><!-- //#wrap -->

</body>
</html>