/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body {
    font-family: 'Raleway', NanumGothic,'나눔고딕', Arial, sans-serif;
}

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#recover-password-container {
    width: 552px;
}

#profile-container {
    width: 100%;
}

#profile-container h1 {
    text-align: center;
}

#profile-container button {
    margin-top: 5px;
    margin-left: 5px;
    float: right;
}

#profile-container .panel-default .glyphicon {
    margin-right: 5px;
}

#sign-in-container .content-body span {
    font-size: 12px;
}

#sign-in-container .content-body a {
    font-size: 12px;
    margin-left: 5px;
}

#sign-in-container button {
    width: 100px;
    padding: 3px 5px 3px 5px;
    margin-right: 10px;
}

.account-container {
    width: 300px;
}

.content-header {
    text-align: center;
}

.content-body .alert {
    font-size: 10px;
    text-align: center;
}

.input-group {
    margin-bottom: 10px;
    width: 100%;
}

.button-group {
    text-align: center;
    margin-top: 20px;
}

.button-group .glyphicon {
    margin-right: 5px;
}

.panel-user-info {
    margin-bottom: 5px;
}

.panel-user-info .info {
    font-size: 12px;
}

.content-footer {
    text-align: center;
    font-size: 12px;
}