/*------------------------------------------------*/
/*-----------------[BASIC STYLES]-----------------*/
/*------------------------------------------------*/

body {
    font-family: 'Raleway', NanumGothic,'나눔고딕', Arial, sans-serif;
}

/*------------------------------------------------*/
/*---------------[MAIN LAYOUT INFO]---------------*/
/*------------------------------------------------*/

#login-container,
#signup-container {
    width: 300px;
}

#login-form .content-header,
#signup-form .content-header {
    text-align: center;
}

#login-form .content-body .input-group,
#signup-form .content-body .input-group {
    margin-bottom: 10px;
}

#login-form .content-body ._button-group {
    text-align: center;
}

#signup-form .content-body ._button-group {
    text-align: center;
    margin-top: 20px;
}

#login-form .content-body span {
    font-size: 12px;
}

#login-form .content-body a {
    font-size: 12px;
    margin-left: 5px;
}

#login-form button {
    width: 100px;
    padding: 3px 5px 3px 5px;
    margin-right: 10px;
}

#login-form button .glyphicon,
#signup-form button .glyphicon {
    margin-right: 5px;
}

#login-form .content-footer {
    text-align: center;
    font-size: 12px;
}