<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>E-mail 인증 | 제목 학원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>이미 인증이 완료되었습니다.</h1>

	<ul>
		<li>Token : <%= token %></li>
		<li>Username: <%= account.username %></li>
		<li>E-mail: <%= account.email %></li>
	</ul>
</body>
</html>