<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>E-mail 인증 | 제목 학원</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<h1>Email Authorization by token</h1>

	<strong style="color:#f00">인증실패</strong>

	<ul>
		<li>Token : <%= token %></li>
	</ul>
</body>
</html>