<html>
<head>
    <title>New Password</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/account/style.css">
</head>
<body>
<div id="recover-password-container" class="account-container">
    <form method="POST" action="/account/reset/<%=id%>" id="recover-form" class="well">
        <div class="content-header">
            <h1>Enter New Password</h1>
        </div>
        <hr>
        <div class="content-body">
            <% include ../../alert/Flash-Alerts %>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control required" placeholder="Enter new password" id="password" name="password" maxlength="128" required="required"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span id="glyphicon-status" class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control required" placeholder="Re-enter new password" name="confirm" maxlength="128" required="required"></input>
            </div>
            <div class="button-group">
                <button type="submit" id="btn-recover" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-sign"></span>Ok</button>
            </div>
        </div>

        <input id="form-method" type="hidden" name="_method" value="PUT" />
    </form>
</div>
<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
<script type="application/javascript">
    $(document).ready(function () {
        $('#btn-reset').click(function () {
            var value = $('#email').val(),
                    reg = /^(([^<>()[\]\\.,;:\s@\"]+(\.[^<>()[\]\\.,;:\s@\"]+)*)|(\".+\"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;

            if (reg.test(value)) {
                return true;
            } else {
                $('#modal-email-error').modal({show: true, keyboard: true});
                return false;
            }
        });
    });
</script>
</body>
</html>