<html>
<head>
    <title>Namist Login</title>
    <link href='http://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/account/style.css">
</head>
<body>
<!--login container-->
<div id="login-container">
    <form method="post" action="/signin" id="login-form" class="well">
        <div class="content-header">
            <h1>Log In</h1>
            <h5>Log in to use your Namist account</h5>
        </div>
        <hr>
        <div class="content-body">
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                <input type="text" class="form-control required" placeholder="Username" name="username" maxlength="255" required="required"></input>
            </div>
            <div class="input-group">
                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                <input type="password" class="form-control required" placeholder="Password" name="password" maxlength="128" required="required"></input>
            </div>
            <div class="_button-group">
                <button type="submit" id="btn-login" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-ok-sign"></span>Log In</button>
                <span>or</span>
                <a href="/signup" id="create-account">Sign up for Namist</a>
            </div>
        </div>
        <hr>
        <div class="content-footer">
            <a href="/findForm" id="forgot-password">Forgot your password?</a>
        </div>
    </form>
</div>
<!--login container-->
<script src="/js/lib/jquery-1.11.0.min.js"></script>
<script src="/js/lib/bootstrap.min.js"></script>
</body>
</html>